bleach==3.1.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.7
django-appconf==1.0.3
django-appcore==0.0.9
django-crispy-contact-form==0.3.8
django-crispy-forms==1.8.0
django-guardian==2.1.0
django-ipware==2.1.0
html5lib==1.0.1
idna==2.8
Markdown==3.1.1
martor==1.4.4
psycopg2==2.8.4
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
webencodings==0.5.1
django-tempus-dominus==5.1.2.9
