amqp==2.5.2
asgiref==3.2.3
billiard==3.6.1.0
celery==4.4.0
certifi==2019.11.28
chardet==3.0.4
Django==2.2.13
django-crispy==1.8.1
django-guardian==2.1.0
django-publications==1.0.0
django-recaptcha==2.0.5
django-tables2-bootstrap4==2.0.0b5
django-tempus-dominus==5.1.2.9
idna==2.8
importlib-metadata==1.4.0
kombu==4.6.7
Markdown==3.1.1
martor==1.4.4
more-itertools==8.1.0
Pillow==7.0.0
psycopg2==2.8.4
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
vine==1.3.0
xmltodict==0.12.0
zipp==0.6.0
