  .card-header .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "Show";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.card-header .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "Hide";    /* adjust as needed, taken from bootstrap.css */
}