#logo {
     height: 35px;
}

.arrow {
     height: 25px;
}

.card-header {
    padding: 1.5rem 2rem;
}

.card-body {
    padding: 1.5rem 2rem;
}

.accordion .card-header {
    border-bottom: none;
}

.card-body .card-field-label {
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-size: large;
}

.card-body .card-field-content {
    margin-bottom: 1rem;
}


