{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RNA-Puzzles</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- Custom styles for all pages-->
  <link href="{% static 'css/rnapuzzles.custom.css' %}" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  {% block head %}

  {% endblock %}

</head>

<body>

  <header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img id="logo" src="{% static 'img/logo.svg' %}" alt="RNA-Puzzles>">
        </a>

        <!-- account toggle -->
        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#links">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- links toggle -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#account">
          <span class="fas fa-user"></span>
        </button>

        <div class="navbar-collapse collapse" id="links">
          <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target=".navbar-collapse.show">

            {% if user.is_authenticated %}

              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Open Puzzles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Results</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Groups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Publications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>

            {% else %}

              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Publications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>

            {% endif %}

          </ul>
        </div>

        <div class="navbar-collapse collapse text-right" id="account">
          <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target=".navbar-collapse.show">

            {% if user.is_authenticated %}

              <li class="nav-item dropdown d-none d-xl-block">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Account</a>
                <div class="dropdown-menu">
                  <h6 class="dropdown-header"> {{ user.username }} </h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">View group profile</a>
                  <a class="dropdown-item" href="#">Account settings</a>
                  <a class="dropdown-item" href="#">History of challenges</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>

              <li class="nav-item d-xl-none">
                <h6 class="header"> {{ user.username }} </h6>
                <div class="dropdown-divider"></div>
                <a class="nav-link" href="#">View group profile</a>
                <a class="nav-link" href="#">Account settings</a>
                <a class="nav-link" href="#">History of challenges</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link" href="#">Log out</a>
              </li>

            {% else %}

              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
              </li>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="container">

    {% block content %}

    {% endblock %}

  </div>

  <!-- Footer -->
  <footer class="page-footer bg-light">
    <div class="container">
      <div class="footer-nav">

      </div>
      <div class="footer-copyright text-center py-3">
          <span>
            © 2019 Politechnika Poznańska
          </span>
      </div>
    </div>
  </footer>

  <!-- Custom scripts for all pages-->
  <script src=" {% static 'js/rnapuzzles.custom.js' %}"></script>

</body>
</html>