{% extends  'base.html' %}

{% block content %}
<div class="h2 justify-content-center align-self-center mr-auto">
  Research Groups
</div>
<hr class="mt-1 mb-3">
<table class="table">
  <thead class="custom-table-head">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Leader</th>
      <th scope="col">Contact</th>
        <th scope="col">Number of members</th>
    </tr>
  </thead>

{% for group in object_list %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a class="font-weight-bold" href="{{group.id}}">{{group.group_name}}</a></td>
      <td>{{group.leader}}</td>
      <td>{{group.contact}}</td>
      <td>{{group.count}}</td>

    </tr>

  </tbody>

{% empty %}
  <p>No group yet</p>
{% endfor %}
    </table>

{% endblock %}