{% extends  'base.html' %}
{% load guardian_tags %}
{% load martortags %}

{% block head %}
  {% include "rnapuzzles/markdown_head.html" %}
{% endblock %}

{% block content %}
{% get_obj_perms request.user for group as "group_perms" %}

<div class="d-flex justify-content-center mb-3">
    <h1>{{object.group_name}}</h1>
</div>
<div>
        <div class="offset-md-1"><b>Leader:</b>   {{object.leader}}</div>
        {% if object.members%}
            <div class="offset-md-1"><b>Other Members:</b></div>
        {% endif %}
        <ul class="offset-md-2">
        {% for member in object.members %}
            {{member}}
        {% endfor %}</ul>
        <div class="offset-md-1"><b>Contact:</b>   {{object.contact}}</div>
        <div class="card-body markdown-body offset-md-1" >{{ object.group_description|safe_markdown }}</div>
</div>
{% if "change_group" in group_perms %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary custom-button " href="{{object.id}}/update">Edit</a>
    </div>
{% endif %}

{% endblock %}

