{% extends  'base.html' %}
{% load guardian_tags %}
{% load martortags %}

{% block head %}
  {% include "rnapuzzles/markdown_head.html" %}
{% endblock %}

{% block content %}
{% get_obj_perms request.user for group as "group_perms" %}

<h1>{{object.group_name}}</h1>
<div>Leader:   {{object.leader}}</div>
<div>Other Members:</div>
<ul>
{% for member in object.members %}
    <li>{{member}}</li>
{% endfor %}</ul>

<div class="card-body markdown-body " >{{ object.group_description|safe_markdown }}</div>

{% if "edit_group_description" in group_perms %}
    <a class="navbar-toggler" href="{{object.id}}/update">Edit</a>
{% endif %}
<script>
    if(document.getElementById("id_description").innerHTML == "Description: "){
        (document.getElementById("id_description")).style.display = "none";
    }
</script>
{% endblock %}

