{% extends  'base.html' %}
{% load guardian_tags %}
{% load martortags %}

{% block head %}
  {% include "rnapuzzles/markdown_head.html" %}
{% endblock %}

{% block content %}
{% get_obj_perms request.user for group as "group_perms" %}

<div id="main-card" class="card mt-4 mb-4">
    <div class="card-header">
        <div class="h3 align-self-center">
            <h1>{{object.group_name}}</h1>
        </div>
    </div>
    <div class="card-body">
        <div><b>Leader:</b>   {{object.leader}}</div>
        {% if object.members%}
            <div><b>Other Members:</b></div>
        {% endif %}
        <ul>
        {% for member in object.members %}
            {{member}}
        {% endfor %}</ul>

        <div class="card-body markdown-body " >{{ object.group_description|safe_markdown }}</div>
    </div>
</div>
{% if "change_group" in group_perms %}
    <a href="{{object.id}}/update"><i class="far fa-edit"></i>Edit</a>
{% endif %}

{% endblock %}

