{% extends  'base.html' %}

{% block content %}
<h1>Research Groups</h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Leader</th>
      <th scope="col">Contact</th>
        <th scope="col">Number of members</th>
    </tr>
  </thead>

{% for group in object_list %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{{group.id}}">{{group.group_name}}</a></td>
      <td>{{group.leader}}</td>
      <td>{{group.contact}}</td>
      <td>{{group.count}}</td>

    </tr>

  </tbody>

{% empty %}
    No group yet
{% endfor %}
    </table>

{% endblock %}