{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="d-flex justify-content-center">
        <img class="img-fluid" id="home-img" src="{% static 'img/RNA-logo.svg' %}" alt="RNA-Puzzles">
    </div>
    <div class="d-flex justify-content-center">
        Collective experiment for blind RNA structure prediction.
    </div>
<br>

<div class="text-justify">
    <h1>Aims of the project</h1>

            <ul>
                <li>To determine the capabilities and limitations of current methods for sequence-based 3D RNA structure prediction.</li>
                <li>To find whether and how progress has been made, as well as what has yet to be done to achieve better solutions.</li>
                <li>To identify whether there are specific bottlenecks that hold back the field.</li>
                <li>To promote the available methods and guide potential users in the choice of suitable tools for real-world problems.</li>
                <li>To encourage the RNA structure prediction community in their efforts to improve the current tools and to make automated prediction tools available.</li>
                <li>To explore the underlying mechanism of ligand-RNA binding and the conformational changes in riboswitches.</li>
            </ul>

    <h1>Basic Rules</h1>
            <ul>
                <li>Confidential agreement: "I will use the provided sequence data for prediction purposes only. I will not distribute the sequences in any form outside my working group."</li>
                <li>We strongly recommend that all the predictions are formatted in standard PDB format. It ensures that all the modellers have a fair comparison without considering the file format and prediction region. We provide a python script for generating standard PDB format files, only the coordinates need to be replaced by the predictors.</li>
                <li>RNA chains should be named in alphabetical order. e.g. A for the first chain, B for the second chain.</li>
                <li>Each group/server can submit up to 5 predicted models for one puzzle.</li>
                <li>All models predicted for the single puzzle should be submitted in one PDB file like NMR format, i.e., every model should start with line "MODEL n" and end with the line "ENDMDL".</li>
                <li>To submit, use our online submission system or send the file by email.</li>
            </ul>

    <h1>Call for participants</h1>
            <ul>
                <li>We are looking for crystallographers willing to provide us with a new crystal, cryo-EM or NMR structures. Any kind of RNA structure-related data is encouraged. Please, contact us for the details if you would like to share your RNA structure with us.</li>
                <li>We encourage scientists interested in RNA 3D structure prediction to take part in RNA-Puzzles competition and push forward the field. If you want to join us, please, send us an email or register in the system.</li>
            </ul>
</div>


{% endblock %}