{% extends  'base.html' %}

{% block content %}
<div class="h2 justify-content-center align-self-center mr-auto">
    <h1>{{object.first_name}} {{object.last_name}}</h1>
</div>
<hr class="mt-1 mb-3">
    <p><div id="id_email"><b>Email address:</b> {{object.email}}</div>
    <div id="id_role"><b>Role:</b> {{object.get_role_display}}</div>
    {% if  object.role != 1 %}
        <div id="id_group_name"><b>Group name:</b> {{object.group_name}}</div>
        <div id="id_institution"><b>Institution:</b> {{object.institution}}</div>
    {% endif %}
    </p>
    <br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary custom-button " href="{% url 'user_update' %}">Edit</a>
    </div>
{% endblock %}

