{% extends  'base.html' %}

{% block content %}
    <h1>{{object.first_name}} {{object.last_name}}</h1>
    <div id="id_email">Email address: {{object.email}}</div>
    <div id="id_role">Role: {{object.get_role_display}}</div>
    {% if  object.role != 1 %}
        <div id="id_institution">Institution: {{object.institution}}</div>
        <div id="id_group_name">Group name: {{object.group}}</div>
    {% endif %}
    <a class="navbar-toggler" href="{% url 'user_update' %}">Edit</a>

{% endblock %}

