{% extends 'base.html' %}

{% block head %}
    {{ email_form.media }}
{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="h2 justify-content-center align-self-center mr-auto">
            {{ list_name }}
        </div>
        {% if list_name == 'My puzzles' %}
            <div class="justify-content-center align-self-center">
                <a href="{% url 'create-new' %}" title="Create new"><i class="far fa-file"></i> Create new</a>
            </div>
        {% endif %}
    </div>

    <hr class="mt-1 mb-3">

    {% if list_name == 'My puzzles' %}
        {% for puzzle, challenge, files in data %}
            {% include 'puzzles/puzzle_info.html' %}
        {% endfor %}
    {% else %}
        {% for puzzle, challenge, files, email_form in data %}
            {% include 'puzzles/puzzle_info_with_question.html' %}
        {% endfor %}
    {% endif %}

{% endblock %}