<div class="card mt-4 mb-4 main-card-parent">
    <div class="card-header">
        <div class="d-flex">
            <div class="flex-column mr-auto">
                <div class="h3 align-self-center puzzle_public_id">
                    Puzzle {{ challenge.puzzle_info_id }}{% if challenge.round != 1 %}-{{ challenge.round}}{% endif %}
                </div>
                {% if list_name == 'My puzzles' %}
                    <div class="d-flex">
                        {% if challenge.current_status != 4 %}
                            <div class="mr-3">
                                {% if challenge.round != 1 %}
                                    {% if challenge.current_status == 0 or challenge.current_status == 1 %}
                                        <a href="{% url 'update-challenge' pk=challenge.pk %}" title="Edit puzzle"><i class="far fa-edit"></i> Edit</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'update-puzzle-info' pk=challenge.pk %}" title="Edit puzzle"><i class="far fa-edit"></i> Edit</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if challenge.current_status == 0 %}
                        <div class="justify-content-center align-self-center mr-auto">
                            {% if challenge.round != 1 %}
                                <a href="{% url 'challenge-delete' pk=challenge.pk %}" title="Delete puzzle"><i class="far fa-trash-alt"></i> Delete</a>
                            {% else %}
                                <a href="{% url 'puzzle-info-delete' pk=puzzle.pk %}" title="Delete puzzle"><i class="far fa-trash-alt"></i> Delete</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                <div class="d-flex">
                    Status: {{ challenge.get_current_status_display }}
                </div>
                {% endif %}
            </div>
            <div class="justify-content-center align-self-center">
              {{ challenge.created_at }}
            </div>
        </div>
    </div>

    {% if puzzle.img %}
        <img class="mx-auto d-block card-img-top img-fluid col-md-8 col-lg-6 my-5"
             src="{{ puzzle.img.url }}">
    {% endif %}

    <div class="card-body">

        {% if puzzle %}

            <div class="card-field-label">
                {{ puzzle.description_label }}
            </div>
            <div id="description_id" class="card-field-content plain-text">
                {{ puzzle.description }}
            </div>

            <div class="card-field-label">
                {{ puzzle.sequence_label }}
            </div>
            <div id="sequence_id" class="card-field-content plain-text">
                {{ puzzle.sequence }}
            </div>

            {% if puzzle.publish_date %}
                <div class="card-field-label">
                    {{ puzzle.publish_date_label }}
                </div>
                <div id="publish_date_id" class="card-field-content plain-text">
                    {{ puzzle.publish_date }}
                </div>
            {% endif %}

            {% if puzzle.reference and puzzle.reference_url %}
                <div class="card-field-label">
                    {{ puzzle.reference_label }}
                </div>
                <div id="reference_url_id" class="card-field-content plain-text">
                    <a href="{{ puzzle.reference_url }}" target="_blank">{{ puzzle.reference }}</a>
                </div>
            {% endif %}

            {% if puzzle.pdb_id and puzzle.pdb_url %}
                <div class="card-field-label">
                    {{ puzzle.pdb_id_label }}
                </div>
                <div id="pdb_url_id" class="card-field-content plain-text">
                    <a href="{{ puzzle.pdb_url }}" target="_blank">{{ puzzle.pdb_id }}</a>
                </div>
            {% endif %}

            {% if puzzle.pdb_file %}
                <div class="card-field-label">
                    {{ puzzle.pdb_file_label }}
                </div>
                <div id="pdb_file_id" class="card-field-content plain-text">
                    <a href="{% url 'download-structure' pk=puzzle.pk %}">{{ puzzle.pdb_file.name }}</a>
                </div>
            {% endif %}

        {% endif %}

        <div class="card-field-label">
            {{ challenge.start_date_label }}
        </div>
        <div id="start_date_id" class="card-field-content plain-text">
            {{ challenge.start_date }}
        </div>

        <div class="card-field-label">
            {{ challenge.end_date_label }}
        </div>
        <div id="end_date_id" class="card-field-content plain-text">
            {{ challenge.end_date }}
        </div>
    </div>

    {% if files %}
        <div class="accordion md-accordion" id="accordion-files-{{ challenge.id }}" role="tablist"
             aria-multiselectable="true">
          <div class="card border-0">
            <div class="card-header" role="tab" id="accordion-files-heading-{{ challenge.id }}">
              <a class="collapsed" data-toggle="collapse" href="#collapse-files-{{ challenge.id }}"
                 aria-expanded="false" aria-controls="collapse-files-{{ challenge.id }}"
                 onclick="$('#collapsed-icon-files-{{ challenge.id }}').toggleClass('fa-rotate-180')">
                <h5 class="mb-0">
                  Suplementary files <i id="collapsed-icon-files-{{ challenge.id }}" class="fa fa-angle-down"></i>
                </h5>
              </a>
            </div>
            <div id="collapse-files-{{ challenge.id }}" class="collapse" role="tabpanel"
                 aria-labelledby="accordion-files-heading-{{ challenge.id }}">
              <div class="card-body">

                  {% for single in files %}
                    <div class="single-file-info mb-3">
                        <div class="p">{{ single.note }}</div>
                        <a href="{% url 'download-file' pk=single.pk %}">{{ single.file.name }}</a>
                    </div>
                  {% endfor %}

              </div>
            </div>
          </div>
        </div>
    {% endif %}

    {% block submit_question %}
    {% endblock %}


    <div id="model-submit-row" class="d-flex justify-content-end mt-3 mb-5 mr-5">
        {% if challenge.current_status == 1 and list_name != 'My puzzles' %}
            <a href="{% url 'submission_new' challenge.id %}"><button type="button" class="btn btn-primary"> Submit model</button></a>

        {% endif %}
    </div>

</div>


