{% extends 'puzzles/update_puzzle.html' %}
{% load static %}

{% block edit_type %}
    {% include 'form_errors.html' with form=challenge_form %}
    {% include 'form_errors.html' with form=files_form %}

    {% load crispy_forms_tags %}

    <h3>Previous rounds <i class="fa fa-angle-down"></i></h3>

    {% for challenge, files in data %}
        {% if challenge.round == 1 %}
            {% include 'puzzles/puzzle_information.html' %}
        {% else %}
            {% include 'puzzles/puzzle_information.html' with puzzle=None %}
        {% endif %}
    {% endfor %}

    <h3>Edit form <i class="fa fa-angle-down"></i></h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ challenge_form|crispy }}

        <h3 class="mt-4">Suplementary files</h3>
        <hr class="mt-1 mb-4">

        <div class="h4 mb-3 ml-3">
            <img class="arrow" src="{% static 'img/arrow.svg' %}">
            Current files
        </div>

        {{current_files_form.management_form }}

        <div id="current_file-form-wrapper" class="ml-auto col-11 ">
            {% for form in current_files_form.forms %}
                {{ form|crispy }}
                <hr class="my-4">
            {% endfor %}
        </div>

        <div class="h4 mb-3 ml-3">
            <img class="arrow" src="{% static 'img/arrow.svg' %}">
            Add new files
        </div>

        {{ files_form.management_form }}

        <div id="file-form-wrapper" class="ml-auto col-11 ">
            {% for form in files_form.forms %}
                <div class="file-form-container">
                    {{ form|crispy }}
                    <button type="button" class="btn btn-success add-file-form"><i class="fa fa-plus"></i> Add file</button>
                    <hr class="my-4">
                </div>
            {% endfor %}
        </div>

        <input type="submit" name="submit_form" class="btn btn-primary float-right" value="Save"/>
    </form>
{% endblock %}