{% extends 'puzzles/update_puzzle.html' %}
{% load static %}

{% block edit_type %}
    {% include 'form_errors.html' with form=challenge_form %}
    {% include 'form_errors.html' with form=current_files_form %}
    {% include 'form_errors.html' with form=files_form %}

    {% load crispy_forms_tags %}

    <h3>Previous rounds <i class="fa fa-angle-down"></i></h3>


    <div class="mt-1 mb-3">
        {% for challenge, files in data %}
            {% if challenge.round == 1 %}
                {% include 'puzzles/puzzle_info_folded.html' %}
            {% else %}
                {% include 'puzzles/puzzle_info_folded.html' with puzzle=None %}
            {% endif %}
        {% endfor %}
    </div>

    <h3>Edit form <i class="fa fa-angle-down"></i></h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ challenge_form|crispy }}

        <h3 class="mt-4">Suplementary files</h3>
        <hr class="mt-1 mb-4">

        {{current_files_form.management_form }}
        {% if current_files_form.forms %}
            <div class="h4 mb-3 ml-3">
                <i class="fa fa-angle-right"></i>
                Current files
            </div>

            <div id="current_file-form-wrapper" class="ml-auto col-11 ">
                {% for form in current_files_form.forms %}
                    {{ form|crispy }}
                    <hr class="my-4">
                {% endfor %}
            </div>
        {% endif %}

        {{ files_form.management_form }}
        {% if files_form.forms %}
            <div class="h4 mb-3 ml-3">
                <i class="fa fa-angle-right"></i>
                Add new files
            </div>

            <div id="file-form-wrapper" class="ml-auto col-11 ">
                {% for form in files_form.forms %}
                    <div class="file-form-container">
                        {{ form|crispy }}
                        <button type="button" class="btn btn-success add-file-form"><i class="fa fa-plus"></i> Add file</button>
                        <hr class="my-4">
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <input type="submit" name="submit_form" class="btn btn-primary float-right" value="Save"/>
    </form>
{% endblock %}