{% extends  'base.html' %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="d-flex justify-content-center">
        <img  class="" src="{% static 'img/RNA-logo-icon.svg' %}" height="100" alt="RNA-Puzzles">
    </div>
    <div class="d-flex justify-content-center">
        <h1>Log in to RNA-Puzzles</h1>
    </div>
<br>
    <form method="post">
        {% crispy form %}
    </form>
<br>
<div class="d-flex justify-content-center">
    <a class="font-weight-bold" href="{% url 'signup' %}">Sign up</a>&nbsp;for an account &bull; Forgot&nbsp;<a class="font-weight-bold" href="{% url 'signup' %}">password</a>?
</div>

{% endblock %}