{% extends  'base.html' %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="d-flex justify-content-center">
        <img  class="" src="{% static 'img/RNA-logo-icon.svg' %}" height="100" alt="RNA-Puzzles">
    </div>
    <div class="d-flex justify-content-center">
        <h1>Join to RNA-Puzzles</h1>
    </div>
        <form method="post">
            {% crispy form %}
        </form>
    <div class="d-flex justify-content-center mb-3">
        Already have an account? &nbsp;<a class="font-weight-bold" href="{% url 'signin' %}">Sign in</a>
    </div>
    {% load static %}
    <script src="{% static 'js/signupForm.js' %}"></script>

{% endblock %}