{% extends 'base.html' %}
{% load martortags %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/card_collapse.css' %}">
  {% include "rnapuzzles/markdown_head.html" %}
{% endblock %}

{% block content %}
{% if perms.rnapuzzles.add_faqmodel %}
  <form action="{% url 'faq_new' %}" method="get">
    <div class="span9 btn-block">
        <input type="submit" class="btn btn-large btn-block btn-primary" value="Create new"/>
    </div>
  </form>
  <br>
{% endif %}
<div class="h2 justify-content-center align-self-center mr-auto">
  FAQ
</div>
<hr class="mt-1 mb-3">

<form class="form-inline md-form form-sm mt-0" method="get">
  <i class="fas fa-search" aria-hidden="true"></i>
  {% if request.GET.q %}
    <input class="form-control form-control-sm ml-3 w-75" name="q" type="text" placeholder="Search"
      aria-label="Search" value="{{request.GET.q}}">
  {% else %}
    <input class="form-control form-control-sm ml-3 w-75" name="q" type="text" placeholder="Search"
      aria-label="Search">
  {% endif %}
</form>

<br>
{% for n in object_list %}
    {% include 'rnapuzzles/faqmodel_single.html' with object=n iter=forloop.counter0 collapse=True%}
{% endfor %}

{% if is_paginated %}
{% load replace_get %}
<div class="paging_simple_numbers">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="paginate_button page-item previous"><a class="page-link" href="{% param_replace page=page_obj.previous_page_number %}">Previous</a></li>
    {% else %}
      <li class="paginate_button page-item previous disabled"><a class="page-link href=#">Previous</a></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
        <li class="paginate_button page-item"><a class="page-link" href="{% param_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="page-link" href="{% param_replace page=page_obj.next_page_number %}">Next</a></li>
    {% else %}
      <li class="disabled"><a class="page-link">Next</a></li>
    {% endif %}
  </ul>
</div>

{% endif %}
{% endblock %}