{% extends 'base.html' %}
{% load martortags %}
{% load staticfiles %}
{% block head %}
  {% include "rnapuzzles/markdown_head.html" %}
{% endblock %}
{% block content %}
{% load guardian_tags %}

<div class="h2 justify-content-center align-self-center mr-auto">
  News
</div>
<hr class="mt-1 mb-3">

{% if perms.rnapuzzles.add_newsmodel %}
  <form action="{% url 'news_new' %}" method="get">
    <div class="span9 btn-block">
        <input type="submit" class="btn btn-large btn-block btn-primary" value="Create new News"/>
    </div>
  </form>
  <br>
{% endif %}
<form class="form-inline md-form form-sm mt-0" method="get">

  <i class="fas fa-search" aria-hidden="true"></i>
  {% if request.GET.q %}
    <input class="form-control form-control-sm ml-3 w-75" name="q" type="text" placeholder="Search"
      aria-label="Search" value="{{request.GET.q}}">
  {% else %}
    <input class="form-control form-control-sm ml-3 w-75" name="q" type="text" placeholder="Search"
      aria-label="Search">
  {% endif %}

</form>
<br>
{% for n in object_list %}
    {% include 'rnapuzzles/newsmodel_single.html' with object=n link=True next=request.path  %}
{% endfor %}

{% if is_paginated %}
{% load replace_get %}
<div class="paging_simple_numbers">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="paginate_button page-item previous"><a class="page-link" href="{% param_replace page=page_obj.previous_page_number %}">Previous</a></li>
    {% else %}
      <li class="paginate_button page-item previous disabled"><a class="page-link href=#">Previous</a></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
        <li class="paginate_button page-item"><a class="page-link" href="{% param_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="page-link" href="{% param_replace page=page_obj.next_page_number %}">Next</a></li>
    {% else %}
      <li class="disabled"><a class="page-link">Next</a></li>
    {% endif %}
  </ul>
</div>

{% endif %}
{% endblock %}