{% extends 'base.html' %}
{% load martortags %}
{% load staticfiles %}
{% block head %}
<!--Data Table-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script type="text/javascript" src=" https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src=" https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready(function() {
    $('#dt').DataTable({
  "columnDefs": [
    { "type": "num", "targets": 0 },
    { "type": "html", "targets": 1 },
  ]});


} );
</script>

{% endblock %}
{% block content %}
<h1>Your submissions</h1>
<table id="dt" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm">#</th>
        <th class="th-sm">User</th>
        <th class="th-sm">Group</th>
        {% for metric in metric_list %}
            <th class="th-sm">{{metric}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user_scores in object_list %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{user_scores.user}}</td>
        <td>{{user_scores.user.group}}</td>
        {% for score in user_scores.scores %}
            <td>{{score.score}}</td>

        {% endfor %}


    </tr>


    {% endfor %}
    </tbody>

</table>



{% endblock %}

