{% extends 'base.html' %}
{% load martortags %}
{% load staticfiles %}
{% block head %}
<!--Data Table-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script type="text/javascript" src=" https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src=" https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready(function() {
 // Setup - add a text input to each footer cell
    $('#dt thead tr').clone(true).appendTo( '#dt thead' );
    $('#dt thead tr:eq(1) th').each( function (i) {

        var title = $(this).text();
        if(title=="User" || title=="Label" || title=="Status" || title=="Round" || title=="Challenge"){
            $(this).html( '<input type="text" placeholder="Search '+title+'" size=15 padding=0/>' );

            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        }else{
            $(this).html('');
        }
    } );
    var table = $('#dt').DataTable({
    orderCellsTop: true,
        fixedHeader: true,
   order: [[ 0, "asc" ]],
    });


} );

</script>

{% endblock %}
{% block content %}
<h1>Your submissions</h1>
<table id="dt" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm">#</th>
        <th class="th-sm">User</th>
        <th class="th-sm">Label</th>
        <th class="th-sm">Round</th>
        <th class="th-sm">Challenge</th>
        <th class="th-sm">Status</th>
        <th class="th-sm">Date</th>
        <th class="th-sm">Content</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in object_list %}
    {% if submission.status == 2 %}
    <tr class="table-danger">
    {% elif submission.status == 3 %}
    <tr class="table-success">
    {% else %}
    <tr class="table-info">
    {% endif %}

        <th scope="row" ><a href="{% url 'submission_detail' pk=submission.pk %}">{{forloop.counter}}</a></th>
        {% if submission.user.group_name %}
        <td><a href="{% url 'group_detail' pk=submission.user.group_name.pk%}"> {{submission.user}}</a></td>

        {% else %}
        <td>{{submission.user}}</a></td>

        {% endif %}
        <td>{{submission.label}}</td>
        <td>{% if submission.is_automatic %}Automatic {%else%} Human {% endif %} </td>
        <td>{{submission.challenge}}</td>
        <td ><a href="{% url 'submission_detail' pk=submission.pk %}">{{submission.get_status_display}}</a></td>
        <td>{{submission.date}}</td>
        <td><a href="{% url 'submission_content' pk=submission.pk %}">Show</a></td>

    </tr>


    {% endfor %}
    </tbody>

</table>



{% endblock %}

