{% extends 'base.html' %}
{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}

{% if form.linkvalid %}
<div class="h2 justify-content-center align-self-center mr-auto">
  Update Your Password
</div>
<hr class="mt-1 mb-3">
<div class="d-flex justify-content-center">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary custom-button">Save</button>
        </div>
    </form>
</div>
{% else %}
<p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
</p>
{% endif %}
{% endblock %}