{% extends  'base.html' %}

{% block content %}
<div class="h2 justify-content-center align-self-center mr-auto">
Unconfirmed Users
</div>
<hr class="mt-1 mb-3">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Group</th>
            <th scope="col">Institution</th>
            <th scope="col">Confirm</th>
            <th scope="col">Reject</th>
        </tr>
    </thead>

    {% for user in object_list %}
    {% if user.pk != 1%}
    <tbody>
        <tr>
            <th scope="row">{{forloop.counter|add:"-1"}}</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.get_role_display}}</td>
            {% if user.group_name != None %}
                <td>{{user.group_name}}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{user.institution}}</td>
            <td><a href="{{user.pk}}/user_confirmed">Confirm</a></td>
            <td><a href="{{user.pk}}/user_rejected">Reject</a></td>
        </tr>
    </tbody>
    {% endif %}
    {% empty %}
        <p>No users to confirm</p>
    {% endfor %}
</table>

{% endblock %}