{% extends 'base.html' %}
{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
    <div class="d-flex justify-content-center">
        <h1>Account settings</h1>
    </div>
    <br>
    <form method="post">
    {% crispy form %}
    </form>
    <br>
    <div class="d-flex justify-content-center">
        You can change the password using <a class="font-weight-bold" href="{% url 'user_password_update' %}">&nbsp;this form</a>.
    </div>
{% endblock %}