{% extends 'base.html' %}
{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
    <div class="h2 justify-content-center align-self-center mr-auto">
        Account settings
    </div>
    <hr class="mt-1 mb-3">
    <br>

    <form method="post">
    {% crispy form %}
    </form>
    <br>
    <div class="d-flex justify-content-center">
        You can change the password using <a class="font-weight-bold" href="{% url 'user_password_update' %}">&nbsp;this form</a>.
    </div>
{% endblock %}